.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

textarea{
    margin: 10px;
}

button {
    width: 165px;
    padding: 10px;
    font-size: 14px;
}

p{
    background: linear-gradient(to right, yellow, red, blue);
    background-clip: text;
    color: transparent;
}